<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="rightcolumn">
			<div class="card">
				<h2>About Me</h2>
				<div class="fakeimg" style="height:100px;">Image</div>
				<p>I'm Kip. I've learned a lot and I've forgotten most of it. This is a collection of those ideas, for my own sake. You're welcome to come along for the ride.</p>
			</div>
			<div class="card">
				<h3>Popular Posts</h3>
				<div class="fakeimg">Image</div><br>
				<div class="fakeimg">Image</div><br>
				<div class="fakeimg">Image</div>
			</div>
			<div class="card">
				<h3>Topics</h3>
				<p>#happy
				<br />#energy
				<br />#experiment</p>
			</div>
		</div>
    </main>

    {%- include footer.html -%}
  </body>

</html>
